/* ==== Picker ==== */
/* ==================================== */
.picker.picker-checkbox.checked .picker-flag  {	background-image:inline-image('../images/check-2x.png'); background-size:16px 12px; }

/* ==== Bullet ==== */
/* ==================================== */
nav.subnavigation ul li a:after,
.contact-info dl dd a:before { background-image:inline-image('../images/bullet-2x.png'); background-size:7px 11px; }

/* ==== lightbox ==== */
/* ==================================== */
.mfp-arrow-right { background-image:inline-image('../images/arrow-right-2x.png'); background-size:14px 40px; }
.mfp-arrow-left { background-image:inline-image('../images/arrow-left-2x.png'); background-size:14px 40px; }